<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 网站简介 -->
		<title>Bluetooth V1.0</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
		<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../framework/jquery.mousewheel.min.js"></script>
		<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		<!--js和vue引入-->
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script type="text/javascript" src="../../js/axios.min.js"></script>
		<script type="text/javascript" src="../../js/util.js"></script>
		<style>
			.layui-form{
				margin-right: 30%;
			}
		</style>

	</head>

	<body>
		<div id="myVue">
			<div class="cBody">
				<form id="addForm" class="layui-form" >
					<div class="layui-form-item">
						<label class="layui-form-label">门店名</label>
						<div class="layui-input-inline shortInput">
							<input type="text" v-model="store.storeName" required lay-verify="required|identity" autocomplete="off" class="layui-input">
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">省份</label>
						<div class="layui-input-inline shortInput">
							<input type="text" v-model="store.storeProvince" required lay-verify="required|identity" placeholder="例:贵州省"autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">市区</label>
						<div class="layui-input-inline shortInput">
							<input type="text" v-model="store.storeUrban" required lay-verify="required|identity" placeholder="例:贵阳市"autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">详细地址</label>
						<div class="layui-input-inline shortInput">
							<input type="text" v-model="store.storeAddress" required lay-verify="required|ZHCheck" placeholder="例:九龙坡区科城路1号" autocomplete="off" class="layui-input">
						</div>
					</div>
					<!--<div class="layui-form-item">
						<label class="layui-form-label">是否开通</label>
						<div class="layui-input-block">
							<input type="radio" name="sex" value="nan" title="启用" checked>
							<input type="radio" name="sex" value="nv" title="禁用">
						</div>
					</div>-->

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button type="button" class="layui-btn" @click="submit">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>



			</div>
		</div>
		<!-- 三级省市 插件 -->
		<script src="../../framework/area.js"></script>
		<script src="../../framework/province.js"></script>
		<script>
			//默认城市为：宁夏 - 银川
			var defaults = {
				s1: 'provid',
				s2: 'cityid',
				s3: 'areaid',
				v1: 510000,
				v2: 510100,
				v3: null
			};
		</script>
		<script type="text/javascript">
			var eu = new Vue({
				el:"#myVue",
				data:{
					store:{}
				},
				methods:{
					submit:function(){
						sendAxios(
							"store/addinfo",
							this.store
						).then(res=>{
							if(res.data.code==200){
								alert("添加门店信息成功！");
							}else{
								alert("添加门店信息失败！")
							}
							location.reload();
						}).catch(res=>{
							alert("函数执行失败！")
						})
					}
				}
			});
		</script>
	</body>

</html>