<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>BlueToothPrice V1.0</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
		<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../framework/jquery.mousewheel.min.js"></script>
		<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		<!--js和vue引入-->
		<script type="text/javascript" src="../../js/jsencrypt.min.js"></script>
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script type="text/javascript" src="../../js/axios.min.js"></script>
		<script type="text/javascript" src="../../js/util.js"></script>
        <script type="text/javascript" src="../../js/Qs.js"></script>
	</head>

	<body>
		<div id="myVue">
			<div class="cBody">
				<div class="console">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<div class="layui-input-inline">
								<input type="text" v-model="requestParameter.shopName" required lay-verify="required" placeholder="输入门店名称" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-input-inline">
								<input type="text" v-model="requestParameter.goodsName" required lay-verify="required" placeholder="输入商品名称" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-input-inline">
								<input type="text" v-model="requestParameter.PTagResolution" required lay-verify="required" placeholder="输入价签规格" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-input-inline">
								<input type="text" v-model="requestParameter.PTagColor" required lay-verify="required" placeholder="输入价签颜色" autocomplete="off" class="layui-input">
							</div>
							<button type="button" class="layui-btn" @click="query()">检索</button>
							<button type="button" class="layui-btn" @click="reset()">重置</button>
						</div>
					</form>
				</div>

				<table class="layui-table" >
					<thead>
						<tr>
							<th><input type="checkbox" @click="chooseAll()"></th>
							<th>序号</th>
							<th>价签MAC地址</th>
							<th>所属门店</th>
							<th>商品名称</th>
							<th>当前图片</th>
							<th>剩余电量</th>
							<th>使用状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(i,index) in priceTags">
							<td><input type="checkbox" v-on:click="handleSelectionChange(i)"></td>
							<td>{{index+1}}</td>
							<td>{{i.ptagMac}}</td>
							<td>{{i.shopName}}</td>
							<td>{{i.goodsName}}</td>
							<td><img :src="'data:image/bmp;base64,'+i.picBase64"></td>
							<td>{{i.ptagElectricity}}</td>
							<td>{{i.ptagIsuse}}</td>
							<td>
								<button class="layui-btn layui-btn-xs" type="button" @click="showAllInfo(i)">查看详细信息</button>
							</td>
						</tr>
					</tbody>
				</table>
				<button @click="queryForImg();" class="btn btn-primary btn-lg" type="button" data-toggle="modal" data-target="#sendImg">发送图片</button>

			</div>
			<div style="text-align: center" id="paging"></div>

			<!--模态框-->

			<div class="modal fade text-center" id="sendImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog" style="display: inline-block; width: auto">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">请选择图片</h4>
						</div>
						<div class="modal-body">
							<div class="console">
								<form class="layui-form" action="">
									<div class="layui-form-item">
										<div class="layui-input-inline">
											<input type="text" v-model="pictrue.goodsName" required lay-verify="required" placeholder="输入商品名称"
												   autocomplete="off" class="layui-input">
										</div>
										<div class="layui-input-inline">
											<input type="text" v-model="pictrue.goodsSpecs" required lay-verify="required" placeholder="输入商品规格"
												   autocomplete="off" class="layui-input">
										</div>
										<button type="button" class="layui-btn" @click="queryForImg()">检索</button>
										<button type="button" class="layui-btn" @click="resetForImg()">重置</button>
									</div>
								</form>
							</div>

							<table class="layui-table">
								<thead>
								<tr>
									<th style="text-align:center">序号</th>
									<th style="text-align:center">商品名称</th>
									<th style="text-align:center">商品编号</th>
									<th style="text-align:center">商品规格</th>
									<th style="text-align:center">图片名称</th>
									<th style="text-align:center">图片预览</th>
									<th style="text-align:center">操作</th>
								</tr>
								</thead>
								<tbody>
								<tr v-for="(i,index) in pictrues">
									<td>{{index+1}}</td>
									<td>{{i.goodsName}}</td>
									<td>{{i.goodsId}}</td>
									<td>{{i.goodsSpecs}}{{i.goodsUnit}}</td>
									<td>{{i.picName}}</td>
									<td><img :src="'data:image/bmp;base64,'+i.picBase64"></td>
									<td>
										<button class="layui-btn layui-btn-xs" type="button" @click="sendImg(i)">发送图片</button>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						<div style="text-align: center" id="pagingImg"></div>
					</div>
					<div class="modal-footer">
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal -->
		</div>
<!--			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
<!--				<div class="modal-dialog">-->
<!--					<div class="modal-content">-->
<!--						<div class="modal-header">-->
<!--							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
<!--							<h4 class="modal-title" id="myModalLabel">发送图片到标签</h4>-->
<!--						</div>-->
<!--						<div class="modal-body">-->
<!--							<div class="row cl">-->
<!--								<span class="input-group-addon" id="basic-addon1">选择门店</span>-->
<!--								<select class="select" size="1" v-model="storeWifis.storeName" @change="getWifis">-->
<!--									<option value="">&#45;&#45;请选择&#45;&#45;</option>-->
<!--									<option :value="i.storeName" v-for="i in stores">{{i.storeName}}</option>-->
<!--								</select>-->
<!--							</div>-->
<!--                            <div class="row cl">-->
<!--                                <span class="input-group-addon" id="basic-addon2">选择WIFI</span>-->
<!--                                <select class="select" size="1" v-model="wifi.wifiIp" >-->
<!--                                    <option value="">&#45;&#45;请选择&#45;&#45;</option>-->
<!--                                    <option :value="i.wifiIp" v-for="i in allWifis">{{i.wifiIp}}</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--						</div>-->
<!--						<div class="modal-footer">-->
<!--							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
<!--							<button type="button" class="btn btn-primary" @click="">确认发送</button>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
		</div>

		<script type="text/javascript">

			//获取登录用户角色
			var user = JSON.parse(sessionStorage.getItem("loginAdmin"));
			//默认页数
			var current_page = 1;
			var currentPageImg = 1;
			//默认每页容量
			var limit = 10;

			new Vue({
				el:"#myVue",
				data:{
					priceTags:[],
					priceTag:{
						shopName:"",
						goodsName:"",
						goodsPrice:"",
						goodsSpecs:"",
						goodsUnit:"",
						ptagMac:"",
						gatewayMac:"",
						ptagElectricity:"",
						ptagIsuse:"",
						ptagColor:"",
						ptagResolution:"",
						picBase64:"",
						picPath:"",
						choose:false
					},
					requestParameter:{
						userName:"",
						shopName:"",
						goodsName:"",
						PTagColor:"",
						PTagResolution:"",
						pageNum:"",
						pageSize:""
					},
					requestParameter1:{
						userName:"",
						shopName:"",
						goodsName:"",
						PTagColor:"",
						PTagResolution:"",
						pageNum:"",
						pageSize:""
					},
                    selectTags:[],
					pictrues:[],
					pictrue:{
						picName:"",
						picBase64:"",
						picColor:"",
						picResolution:"",
						picPath:"",
						goodsName:"",
						goodsId:"",
						goodsSpecs:"",
						goodsUnit:"",
						choose:""
					},
					goods:{
						goodsName:"",
						goodsSpecs:"",
						pageNum:"",
						pageSize:"",
					}
				},
				methods:{
					query:function(){
						this.requestParameter.userName = user.userName;
						this.requestParameter.pageNum = current_page;
						this.requestParameter.pageSize = limit;
						if(this.requestParameter.shopName == ""){
							this.requestParameter.shopName = null
						}
						if(this.requestParameter.goodsName ==""){
							this.requestParameter.goodsName = null
						}
						if(this.requestParameter.PTagColor ==""){
							this.requestParameter.PTagColor = null
						}
						if(this.requestParameter.PTagResolution ==""){
							this.requestParameter.PTagResolution = null
						}
						sendAxios(
								"pricetag/getPricetagList",
								this.requestParameter
						).then(res=>{
							if(res.data.code==200){
								this.priceTags =res.data.pageInfo.list;
								//调用分页函数
								page(res.data.pageInfo.total,current_page,limit);
							}else{
								alert("查询数据失败！")
							}
						}).catch(res=>{
							alert("函数执行失败！")
						})
					},
					showAllInfo:function (i){
						layui.use(['layer'],function () {
							layer.open({
								type:1,
								title:"详细信息",
								area:["280px","180px"],
								content:'		<div style="display:flex; align-items:center; justify-content:center;">\n' +
										' 		<table>\n' +
										'		<tr>\n' +
										'			<td><strong> 价签颜色：</strong></td>\n' +
										'			<td><label id="PTagColor"></label></td>\n' +
										'		</tr>\n' +
										'		<tr>\n' +
										'			<td><strong>价签尺寸：</strong></td>\n' +
										'			<td><label id="PTagResolution"></label></td>\n' +
										'		</tr>\n' +
										'		<tr>\n' +
										'			<td><strong>所属网关：</strong></td>\n' +
										'			<td><label id="gatewayMac"></label></td>\n' +
										'		</tr>\n' +
										'		<tr>\n' +
										'			<td><strong>显示商品名称：</strong></td>\n' +
										'			<td><label id="goodsName"></label></td>\n' +
										'		</tr>\n' +
										'		<tr>\n' +
										'			<td><strong>显示商品规格：</strong></td>\n' +
										'			<td><label id="goodsSpecs"></label></td>\n' +
										'		</tr>\n' +
										'		<tr>\n' +
										'			<td><strong>显示商品价格：</strong></td>\n' +
										'			<td><label id="goodsPrice"></label></td>\n' +
										'		</tr>\n' +
										' 		</table>\n' +
										// '               <p>价签颜色：<label id="PTagColor"></label></p>\n' +
										// ' 				<p>价签尺寸：<label id="PTagResolution"></label></p>\n' +
										// ' 				<p>所属网关：<label id="gatewayMac"></label></p>' +
										// ' 				<p>显示商品名称：<label id="goodsName"></label></p>\n' +
										// ' 				<p>显示商品规格：<label id="goodsSpecs"></label></p>\n' +
										// ' 				<p>显示商品价格：<label id="goodsPrice"></label></p>\n' +
										'       </div>',
								success:function () {
									document.getElementById("goodsName").innerHTML=i.goodsName;
									document.getElementById("goodsSpecs").innerHTML=i.goodsSpecs + i.goodsUnit;
									document.getElementById("gatewayMac").innerHTML=i.gatewayMac;
									document.getElementById("goodsPrice").innerHTML=i.goodsPrice;
									document.getElementById("PTagColor").innerHTML=i.ptagColor;
									document.getElementById("PTagResolution").innerHTML=i.ptagResolution;
								}
							});
						});
					},
					reset:function () {
						this.requestParameter.shopName = "";
						this.requestParameter.goodsName = "";
						this.requestParameter.PTagColor = "";
						this.requestParameter.PTagResolution = "";
						this.query();
					},
					handleSelectionChange:function (val) {
						val.choose = !val.choose;
					},
					sendImg:function (selectImg) {
						for (item of this.selectTags){
							item.goodsName = selectImg.goodsName;
							item.goodsSpecs = selectImg.goodsSpecs;
							item.goodsUnit = selectImg.goodsUnit;
							item.picPath = selectImg.picPath;
						}
						sendAxios(
								"pricetag/sendImgToTag",
								JSON.stringify(this.selectTags)
						).then(res=>{
							if(res.data.code==200){
								alert(res.data.msg);
							}else {
								alert(res.data.msg);
							}
						}).catch(res=>{
							alert("函数执行失败");
						})
					},
					queryForImg:function () {
						for (item of this.priceTags){
							if(item.choose){
								this.selectTags.push(item);
							}
						}
						this.requestParameter1.userName = user.userName;
						this.requestParameter1.pageNum = current_page;
						this.requestParameter1.pageSize = limit;
						this.requestParameter1.shopName = null;
						this.requestParameter1.goodsName = null;
						console.log(this.selectTags)
						var colorTemp = this.selectTags[0].ptagColor;
						var resolutionTemp = this.selectTags[0].ptagResolution;
						for (item of this.selectTags){
							if (item.ptagResolution != resolutionTemp || item.ptagColor != colorTemp){
								alert("请选择统一规格的价签");
								this.requestParameter1 = null;
								this.selectTags = null;
								return;
							}
						}
						this.requestParameter1.PTagResolution = resolutionTemp;
						this.requestParameter1.PTagColor = colorTemp;
						sendAxios(
								"pricetag/getImgForSend",
								this.requestParameter1
						).then(res=>{
							if(res.data.code==200){
								this.pictrues =res.data.pageInfo.list;
								//调用分页函数
								pageImg(res.data.pageInfo.total,currentPageImg,limit);
							}else{
								alert(res.data.msg);
								this.selectTags = null;
								location.reload();
							}
						}).catch(res=>{
							alert("函数执行失败！")
						})
					},
					resetForImg:function () {
						this.goods.goodsName = "";
						this.goods.goodsSpecs = "";
						this.query();
					}
				},
				created:function(){
					this.query();
				}
			});


			//分页函数
			//参数：查询总条数，当前页数，每页上限
			function page(count,curr,limit) {
				layui.use('laypage',function () {
					var laypage = layui.laypage;
					laypage.render({
						elem:'paging',
						count:count,
						limit:limit,
						curr:curr,
						theme:'#4e66f1',
						jump:function (obj,first) {
							//第一次不执行防止死循环
							if(!first){
								curr = obj.curr;

								eu.requestParameter.pageNum = curr;
								eu.requestParameter.pageSize = limit;
								sendAxios(
										"tags/getAllTags",
										eu.requestParameter
								).then(res=>{
									if(res.data.code==200){
										ur.priceTags = res.data.pageInfo.list;
									}else{
										alert(res.data.msg);
									}
								}).catch(res=>{
									alert("函数执行失败！")
								})
							}
						}
					});
				});
			}

			function pageImg(count,curr,limit) {
				layui.use('laypage',function () {
					var laypage = layui.laypage;
					laypage.render({
						elem:'pagingImg',
						count:count,
						limit:limit,
						curr:curr,
						theme:'#4e66f1',
						jump:function (obj,first) {
							//第一次不执行防止死循环
							if(!first){
								curr = obj.curr;

								eu.requestParameter1.pageNum = curr;
								eu.requestParameter1.pageSize = limit;
								sendAxios(
										"pricetag/getImgForSend",
										eu.requestParameter1
								).then(res=>{
									if(res.data.code==200){
										ur.pictrues = res.data.pageInfo.list;
									}else{
										alert(res.data.msg);
									}
								}).catch(res=>{
									alert("函数执行失败！")
								})
							}
						}
					});
				});
			}

		</script>
	</body>

</html>
