<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
  <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
  <meta name="renderer" content="webkit">
  <!--国产浏览器高速模式-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 网站简介 -->
  <meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
  <title>BlueToothPrice V1.0</title>

  <!-- 公共样式 开始 -->
  <link rel="stylesheet" type="text/css" href="../../css/base.css">
  <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
  <script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
  <script type="text/javascript" src="../../layui/layui.js"></script>
  <!-- 滚动条插件 -->
  <link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
  <script src="../../framework/jquery-ui-1.10.4.min.js"></script>
  <script src="../../framework/jquery.mousewheel.min.js"></script>
  <script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
  <script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
  <!-- 公共样式 结束 -->
  <!--js和vue引入-->
  <script type="text/javascript" src="../../js/jsencrypt.min.js"></script>
  <script type="text/javascript" src="../../js/vue.js"></script>
  <script type="text/javascript" src="../../js/axios.min.js"></script>
  <script type="text/javascript" src="../../js/util.js"></script>
</head>

<body>
<div id="myVue">
  <div class="cBody">
    <div class="console">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <div class="layui-input-inline">
            <input type="text" v-model="pictrue.goodsName" required lay-verify="required" placeholder="输入商品名称"
                   autocomplete="off" class="layui-input">
          </div>
          <div class="layui-input-inline">
            <input type="text" v-model="pictrue.goodsSpecs" required lay-verify="required" placeholder="输入商品规格"
                   autocomplete="off" class="layui-input">
          </div>
          <button type="button" class="layui-btn" @click="query()">检索</button>
          <button type="button" class="layui-btn" @click="reset()">重置</button>
        </div>
      </form>
    </div>

    <table class="layui-table">
      <thead>
      <tr>
        <th><input type="checkbox" @click="chooseAll()"></th>
        <th style="text-align:center">序号</th>
        <th style="text-align:center">商品名称</th>
        <th style="text-align:center">商品编号</th>
        <th style="text-align:center">商品规格</th>
        <th style="text-align:center">图片名称</th>
        <th style="text-align:center">图片预览</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(i,index) in pictrues">
        <td><input type="checkbox" v-on:click="selectImg(i)"></td>
        <td>{{index+1}}</td>
        <td>{{i.goodsName}}</td>
        <td>{{i.goodsId}}</td>
        <td>{{i.goodsSpecs}}{{i.goodsUnit}}</td>
        <td>{{i.picName}}</td>
        <td><img :src="'data:image/bmp;base64,'+i.picBase64"></td>
      </tr>
      </tbody>
    </table>
    <button class="layui-btn layui-btn-xs" type="button" @click="deleteImg()">删除图片
    </button>
  </div>
  <div style="text-align: center" id="paging"></div>
</div>
<script type="text/javascript">

  //获取登录用户角色
  var user = JSON.parse(sessionStorage.getItem("loginAdmin"));
  //默认页数
  var current_page = 1;
  //默认每页容量
  var limit = 10;

  var eu = new Vue({
    el:"#myVue",
    data:{
      pictrues:[],
      pictrue:{
        picName:"",
        picBase64:"",
        picColor:"",
        picResolution:"",
        picPath:"",
        goodsName:"",
        goodsId:"",
        goodsSpecs:"",
        goodsUnit:"",
        choose:false
      },
      goods:{
        goodsName:"",
        goodsSpecs:"",
        pageNum:"",
        pageSize:""
      },
      selectImgs:[]
    },
    methods:{
      query:function(){
        this.goods.pageNum = current_page;
        this.goods.pageSize = limit;
        if(this.goods.goodsName == ""){
          this.goods.goodsName = null
        }
        if(this.goods.goodsSpecs == ""){
          this.goods.goodsSpecs = null
        }
        sendAxios(
                "pictrue/getAllPictrues",
                this.goods
        ).then(res=>{
          if(res.data.code==200){
            this.pictrues =res.data.pageInfo.list;
            //调用分页函数
            page(res.data.pageInfo.total,current_page,limit);
          }else{
            alert(res.data.message);
            location.reload();
          }
        }).catch(res=>{
          alert("函数执行失败！");
          location.reload();
        })
      },
      reset:function () {
        this.goods.goodsName = "";
        this.goods.goodsSpecs = "";
        this.query();
      },
      selectImg:function (i) {
        i.choose = !i.choose;
      },
      deleteImg:function () {
        layui.use(['layer'],function () {
          layer.open({
            type:1,
            title:"请确认",
            area:["280px","210px"],
            content:'		<div align="center">\n' +
                    '               <h2 style="padding-top:30px;padding-bottom:30px;">是否确认删除该网关</h2>\n' +
                    ' 			    <button class="layui-btn layui-btn-sm" type="button" id="btn_yes">确认</button>\n' +
                    ' 			    <button class="layui-btn layui-btn-sm" type="button" id="btn_no">取消</button>\n' +
                    '           </div>'
          });
        });
        $('body').on('click','#btn_yes',function () {
          for (i of this.pictrues){
            if (i.choose) {
              this.selectImgs.push(i);
            }
          }
          sendAxios(
                  "pictrue/deletePictrues",
                  JSON.stringify(this.selectImgs)
          ).then(res=>{
            if(res.data.code==200){
              alert(res.data.message);
              location.reload();
            }else {
              alert(res.data.message);
              location.reload();
            }
          }).catch(res=>{
            alert("函数执行失败");
            location.reload();
          })
        });
        $('body').on('click','#btn_no',function () {
          layer.close(layer.index);
          location.reload();
        });
      }
    },
    created:function(){
      this.query();
    }
  });

  //分页函数
  //参数：查询总条数，当前页数，每页上限
  function page(count,curr,limit) {
    layui.use('laypage',function () {
      var laypage = layui.laypage;
      laypage.render({
        elem:'paging',
        count:count,
        limit:limit,
        curr:curr,
        theme:'#4e66f1',
        jump:function (obj,first) {
          //第一次不执行防止死循环
          if(!first){
            curr = obj.curr;

            eu.pictrue.pageNum = curr;
            eu.pictrue.pageSize = limit;
            sendAxios(
                    "pictrue/getAllPictrues",
                    eu.pictrue
            ).then(res=>{
              if(res.data.code==200){
                ur.pictrues = res.data.pageInfo.list;
              }else{
                alert(res.data.msg);
                location.reload();
              }
            }).catch(res=>{
              alert("函数执行失败！");
              location.reload();
            })
          }
        }
      });
    });
  }


</script>
</body>

</html>
