<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>穷在闹市出品</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
		<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../framework/jquery.mousewheel.min.js"></script>
		<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		<!--js和vue引入-->
		<script type="text/javascript" src="../../js/jsencrypt.min.js"></script>
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script type="text/javascript" src="../../js/axios.min.js"></script>
		<script type="text/javascript" src="../../js/util.js"></script>
		<style>
			.layui-table img {
			    max-width: none;
			}
		</style>

	</head>

	<body>
		<div id="myVue">
			<div class="cBody">
				<div class="console">
					<form class="layui-form" >
						<div class="layui-form-item">
							<div class="layui-input-inline">
								<input type="text" v-model="goods.goodsName" required lay-verify="required" placeholder="输入商品名称" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-input-inline">
								<input type="text" v-model="goods.goodsSpecs" required lay-verify="required" placeholder="输入规格大小" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-input-inline">
								<input type="text" v-model="goods.goodsPlace" required lay-verify="required" placeholder="输入产地名称" autocomplete="off" class="layui-input">
							</div>
							<button type="button" class="layui-btn" @click="query()">检索</button>
							<button type="button" class="layui-btn" @click="reset()">重置</button>
						</div>
					</form>

				</div>

				<table class="layui-table">
					<thead>
						<tr>
							<th>序号</th>
							<th>商品名称</th>
							<th>商品规格</th>
							<th>计量单位</th>
							<th>商品产地</th>
							<th>商品编码</th>
							<th>商品价格</th>
							<th>折扣价格</th>
							<th>条形码编号</th>
							<th>厂家电话</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(i,index) in goodss">
							<td>{{index+1}}</td>
							<td>{{i.goodsName}}</td>
							<td>{{i.goodsSpecs}}</td>
							<td>{{i.goodsUnit}}</td>
							<td>{{i.goodsPlace}}</td>
							<td>{{i.goodsCode}}</td>
							<td>{{i.goodsDiscount}}元</td>
							<td>{{i.goodsPrice}}元</td>
							<td>{{i.goodsBarcode}}</td>
							<td>{{i.goodsTell}}</td>
							<td>
								<button class="layui-btn layui-btn-xs" @click="updateGoods(i)">修改</button>
								<button class="layui-btn layui-btn-xs" @click="creatImage(i)">生成图片</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="text-align: center" id="paging"></div>
		</div>
		<script type="text/javascript">
			//获取登录用户角色
			var user = JSON.parse(sessionStorage.getItem("loginAdmin"));
			//默认页数
			var current_page = 1;
			//默认每页容量
			var limit = 10;

			var ur = new Vue({
				el:"#myVue",
				data:{
					goodss:[],
					goods:{
						goodsName:"",
						goodsSpecs:"",
						goodsPlace:""
					}
				},
				methods:{
					query:function(){
						user.pageNum = current_page;
						user.pageSize = limit;
						//模糊查询
						if(this.goods.goodsName == ""){
							this.goods.goodsName = null;
						}else user.goodsName = this.goods.goodsName;
						if(this.goods.goodsPlace == ""){
							this.goods.goodsPlace =null;
						}else user.goodsPlace = this.goods.goodsPlace;
						if(this.goods.goodsSpecs == ""){
							this.goods.goodsSpecs = null
						}else user.goodsSpecs = this.goods.goodsSpecs;
						sendAxios(
								"goods/getAllGoods",
								user
						).then(res=>{
							if(res.data.code==200){
								this.goodss =res.data.pageInfo.list;
								//调用分页函数
								page(res.data.pageInfo.total,current_page,limit);
							}else{
								alert(res.data);
							}
						}).catch(res=>{
							alert(res.data.message);
						});
						//查询完后重置user实体
						user = JSON.parse(sessionStorage.getItem("loginAdmin"));
					},
					//重置查询函数
					reset:function () {
						this.goods.goodsName = "";
						this.goods.goodsPlace = "";
						this.goods.goodsSpecs = "";
						this.query();
					},
					updateGoods:function (new_goods) {
						update_lay(new_goods);
					},
					creatImage:function (new_goods) {
						createImge_lay(new_goods);
					}
				},
				created:function(){
					this.query();
				}
			});

			//分页函数
			//参数：查询总条数，当前页数，每页上限
			function page(count,curr,limit) {
				layui.use('laypage',function () {
					var laypage = layui.laypage;
					laypage.render({
						elem:'paging',
						count:count,
						limit:limit,
						curr:curr,
						theme:'#4e66f1',
						jump:function (obj,first) {
							//第一次不执行防止死循环
							if(!first){
								curr = obj.curr;

								user.pageNum = curr;
								user.pageSize = limit;
								sendAxios(
										"goods/getAllGoods",
										user
								).then(res=>{
									if(res.data.code==200){
										ur.goodss = res.data.pageInfo.list;
									}else{
										alert(res.data.msg);
									}
								}).catch(res=>{
									alert("函数执行失败！")
								})

							}
						}
					});
				});
			}

			//修改商品信息弹出层函数
			function update_lay(new_goods){
				layui.use(['layer','form'],function () {
					layer.open({
						type:1,
						title:"修改信息",
						area:["500px","650px"],
						content:'        <form class="layui-form" style="padding-top:30px;width: 500px;">\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">商品名</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="goodsName" id="goodsName" type="text" placeholder="商品名" autocomplete="name" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">商品规格</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="goodsSpecs" id="goodsSpecs" type="text" placeholder="商品规格"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">计量单位</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="goodsUnit" id="goodsUnit" type="text" placeholder="商品计量单位"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">商品产地</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="goodsPlace" id="goodsPlace" type="text" placeholder="商品产地"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">商品编号</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="goodsCode" id="goodsCode" type="text" placeholder="商品编号"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">商品售价</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="goodsPrice" id="goodsPrice" type="text" placeholder="商品售价"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">折扣价格</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="goodsDiscount" id="goodsDiscount" type="text" placeholder="折扣价格"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">条形码编号</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="goodsBarcode" id="goodsBarcode" type="text" placeholder="条形码编号"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">厂家电话</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="goodsTell" id="goodsTell" type="text" placeholder="厂家电话"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <div class="layui-input-block">\n' +
								'                    <p>*不做更改项请留空</p>\n' +
								'                    <button lay-submit lay-filter="btn_yes" class="layui-btn layui-btn-sm" type="button" id="btn_yes">立即提交</button>\n' +
								'                    <button class="layui-btn layui-btn-sm" type="button" id="btn_no">取消</button>\n' +
								'                </div>\n' +
								'            </div>\n' +
								'        </form>',
						cancel: function () {
							location.reload();
						}
					});
					$('body').on('click','#btn_no',function () {
						layer.close(layer.index);
						location.reload();
					});
					document.getElementById("goodsName").value=new_goods.goodsName;
					document.getElementById("goodsSpecs").value=new_goods.goodsSpecs;
					document.getElementById("goodsUnit").value=new_goods.goodsUnit;
					document.getElementById("goodsPlace").value=new_goods.goodsPlace;
					document.getElementById("goodsCode").value=new_goods.goodsCode;
					document.getElementById("goodsDiscount").value=new_goods.goodsDiscount;
					document.getElementById("goodsPrice").value=new_goods.goodsPrice;
					document.getElementById("goodsBarcode").value=new_goods.goodsBarcode;
					document.getElementById("goodsTell").value=new_goods.goodsTell;

					//加载表单
					layui.use('form', function(){
						var form = layui.form;
						//渲染表单
						layui.form.render();
						form.on('submit(btn_yes)', function (data) {
							if(new_goods.goodsName == data.field.goodsName)
								new_goods.goodsName = "";
							else new_goods.goodsName = data.field.goodsName;
							if(new_goods.goodsSpecs == data.field.goodsSpecs)
								new_goods.goodsSpecs = "";
							else new_goods.goodsSpecs = data.field.goodsSpecs;
							if(new_goods.goodsUnit == data.field.goodsUnit)
								new_goods.goodsUnit = "";
							else new_goods.goodsUnit = data.field.goodsUnit;
							if(new_goods.goodsPlace == data.field.goodsPlace)
								new_goods.goodsPlace = "";
							else new_goods.goodsPlace = data.field.goodsPlace;
							if(new_goods.goodsCode == data.field.goodsCode)
								new_goods.goodsCode = "";
							else new_goods.goodsCode = data.field.goodsCode;
							if (new_goods.goodsDiscount == data.field.goodsDiscount)
								new_goods.goodsDiscount = "";
							else new_goods.goodsDiscount = data.field.goodsDiscount;
							if (new_goods.goodsPrice == data.field.goodsPrice)
								new_goods.goodsPrice = "";
							else new_goods.goodsPrice = data.field.goodsPrice;
							if (new_goods.goodsBarcode == data.field.goodsBarcode)
								new_goods.goodsBarcode = "";
							else new_goods.goodsBarcode = data.field.goodsBarcode;
							if (new_goods.goodsTell == data.field.goodsTell)
								new_goods.goodsTell = "";
							else new_goods.goodsTell = data.field.goodsTell;
							console.log(new_goods);
							sendAxios(
									'goods/updateGoodsInfo',
									new_goods
							).then(res=>{
								alert(res.data.msg);
								location.reload();
							}).catch(res=>{
								alert("函数执行失败!");
								location.reload();
							});
						});
					});
				});
			}

			//生成图片弹出层
			function createImge_lay(new_goods){
				layui.use(['layer','form'],function () {
					layer.open({
						type:1,
						title:"请选择生成所选用的模板",
						area:["1000px","900px"],
						content:'        <form class="layui-form" style="padding-top:30px;width: 500px;">\n' +
								'            <div class="layui-form-item">\n' +
								'            	 <div class="layui-input-block">\n' +
								'				 <table class="layui-table">\n' +
								' 					<tbody>\n' +
								' 						<tr>\n' +
								' 							<th>\n' +
								' 						 		<img src="../../images/template/Black250122.bmp">\n' +
								'    	  				 		<input type="radio" name="template" lay-filter="template" value="11" title="2.13寸黑白模板">\n' +
								' 							</th>\n' +
								' 							<th>\n' +
								' 						 		<img src="../../images/template/Red250122.bmp">\n' +
								'      					 		<input type="radio" name="template" lay-filter="template" value="12" title="2.13寸黑白红模板">\n' +
								' 							</th>\n' +
								'						</tr>\n' +
								' 						<tr>\n' +
								' 							<th>\n' +
								' 						 		<img src="../../images/template/Black296128.bmp">\n' +
								'    	  						<input type="radio" name="template" lay-filter="template" value="21" title="2.9寸黑白模板">\n' +
								' 							</th>\n' +
								' 							<th>\n' +
								' 						 		<img src="../../images/template/Red296128.bmp">\n' +
								'    	  				 		<input type="radio" name="template" lay-filter="template" value="22" title="2.9寸黑白红模板">\n' +
								' 							</th>\n' +
								'						</tr>\n' +
								' 						<tr>\n' +
								' 							<th>\n' +
								' 						 		<img src="../../images/template/Black400300.bmp">\n' +
								'    	  				 		<input type="radio" name="template" lay-filter="template" value="31" title="4.2寸黑白模板">\n' +
								' 							</th>\n' +
								' 							<th>\n' +
								' 						 		<img src="../../images/template/Red400300.bmp">\n' +
								'    	  				 		<input type="radio" name="template" lay-filter="template" value="32" title="4.2寸黑白红模板">\n' +
								' 							</th>\n' +
								'						</tr>\n' +
								'					</tbody>\n' +
								' 				 </table>\n' +
								'    			 </div>' +
								'            </div>\n' +
								'            <div class="layui-form-item" style="text-align:center">\n' +
								'                <div class="layui-input-block" style="text-align:center">\n' +
								'                    <button lay-submit lay-filter="btn_yes" class="layui-btn layui-btn-sm" type="button" id="btn_yes">立即提交</button>\n' +
								'                    <button class="layui-btn layui-btn-sm" type="button" id="btn_no">取消</button>\n' +
								'                </div>\n' +
								'            </div>\n' +
								'        </form>',
						cancel: function () {
							location.reload();
						}
					})
					$('body').on('click','#btn_no',function () {
						layer.close(layer.index);
						location.reload();
					});

					//加载表单
					layui.use('form', function(){
						var form = layui.form;
						var selectGoods = {
							"temColor":"",
							"resolution":"",
							"goodsName":"",
							"goodsSpecs":""
						};
						//渲染表单
						layui.form.render();
						form.on('radio(template)', function (data) {
							if(data.value == 11){
								selectGoods.temColor = "black";
								selectGoods.resolution = "250*122"
							}else if (data.value == 12){
								selectGoods.temColor = "red";
								selectGoods.resolution = "250*122"
							}else if (data.value == 21){
								selectGoods.temColor = "black";
								selectGoods.resolution = "296*128"
							}else if (data.value == 22){
								selectGoods.temColor = "red";
								selectGoods.resolution = "296*128"
							}else if (data.value == 31){
								selectGoods.temColor = "black";
								selectGoods.resolution = "400*300"
							}else if (data.value == 32){
								selectGoods.temColor = "red";
								selectGoods.resolution = "400*300"
							}
						});
						form.on('submit(btn_yes)', function (data) {
							selectGoods.goodsName = new_goods.goodsName;
							selectGoods.goodsSpecs = new_goods.goodsSpecs;
							console.log(new_goods);
							sendAxios(
									'goods/createImage',
									selectGoods
							).then(res=>{
								alert(res.data.msg);
								location.reload();
							}).catch(res=>{
								alert("函数执行失败!");
								location.reload();
							});
						});
					});
				})
			}

		</script>
	</body>

</html>
