<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>BlueToothPrice V1.0</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="../../css/base.css">
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
		<script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
		<script src="../../framework/jquery-ui-1.10.4.min.js"></script>
		<script src="../../framework/jquery.mousewheel.min.js"></script>
		<script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		<!--js和vue引入-->
		<script type="text/javascript" src="../../js/jsencrypt.min.js"></script>
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script type="text/javascript" src="../../js/axios.min.js"></script>
		<script type="text/javascript" src="../../js/util.js"></script>
	</head>

	<body>
		<div id="myVue">
			<div class="cBody">
				<div class="console">
					<form class="layui-form" action="">
						<div class="layui-form-item">
							<div class="layui-input-inline">
								<input type="text" v-model="gateway.shopName" required lay-verify="required" placeholder="输入门店名称" autocomplete="off" class="layui-input">
							</div>
							<button type="button" class="layui-btn" @click="query()">检索</button>
							<button type="button" class="layui-btn" @click="reset()">重置</button>
						</div>
					</form>
				</div>

				<table class="layui-table">
					<thead>
						<tr>
							<th>序号</th>
							<th>门店名称</th>
							<th>网关MAC地址</th>
							<th>使用状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(i,index) in gateways">
							<td>{{index+1}}</td>
							<td>{{i.shopName}}</td>
							<td>{{i.gatewayMac}}</td>
							<td>{{i.gatewayType}}</td>
							<td>
								<button class="layui-btn layui-btn-xs" type="button" @click="updateGateway(i)">修改</button>
								<button class="layui-btn layui-btn-xs" type="button" @click="deleteGateway(i)">删除</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div style="text-align: center" id="paging"></div>
		</div>
		<script type="text/javascript">

			//获取登录用户角色
			var user = JSON.parse(sessionStorage.getItem("loginAdmin"));
			//默认页数
			var current_page = 1;
			//默认每页容量
			var limit = 10;

			var eu = new Vue({
				el:"#myVue",
				data:{
					gateways:[],
					gateway:{
						userName:"",
						gatewayMac:"",
						gatewayType:"",
						shopName:"",
						pageNum:"",
						pageSize:"",
					}
				},
				methods:{
					query:function(){
						this.gateway.pageNum = current_page;
						this.gateway.pageSize = limit;
						if(this.gateway.shopName == ""){
							this.gateway.shopName = null
						}
						sendAxios(
								"gateway/getAllGateways",
								this.gateway
						).then(res=>{
							if(res.data.code==200){
								this.gateways =res.data.pageInfo.list;
								//调用分页函数
								page(res.data.pageInfo.total,current_page,limit);
							}else{
								alert(res.data.message);
								location.reload();
							}
						}).catch(res=>{
							alert("函数执行失败！");
							location.reload();
						})
					},
					reset:function () {
						this.gateway.gatewayShopName = "";
						this.gateway.gatewayMac = "";
						this.query();
					},
					updateGateway:function (new_gateway) {
						update_lay(new_gateway);
					},
					deleteGateway:function (new_gateway) {
						delete_lay(new_gateway);
					}
				},
				created:function(){
					this.gateway.userName = user.userName;
					this.query();
				}
			});

			//分页函数
			//参数：查询总条数，当前页数，每页上限
			function page(count,curr,limit) {
				layui.use('laypage',function () {
					var laypage = layui.laypage;
					laypage.render({
						elem:'paging',
						count:count,
						limit:limit,
						curr:curr,
						theme:'#4e66f1',
						jump:function (obj,first) {
							//第一次不执行防止死循环
							if(!first){
								curr = obj.curr;

								eu.gateway.pageNum = curr;
								eu.gateway.pageSize = limit;
								sendAxios(
										"gateway/getAllGateways",
										eu.gateway
								).then(res=>{
									if(res.data.code==200){
										ur.gateways = res.data.pageInfo.list;
									}else{
										alert(res.data.msg);
										location.reload();
									}
								}).catch(res=>{
									alert("函数执行失败！");
									location.reload();
								})
							}
						}
					});
				});
			}


			//删除网关信息弹出层函数
			function delete_lay(new_gateway) {
				layui.use(['layer'],function () {
					layer.open({
						type:1,
						title:"请确认",
						area:["280px","210px"],
						content:'		<div align="center">\n' +
								'               <h2 style="padding-top:30px;padding-bottom:30px;">是否确认删除该网关</h2>\n' +
								' 			    <button class="layui-btn layui-btn-sm" type="button" id="btn_yes">确认</button>\n' +
								' 			    <button class="layui-btn layui-btn-sm" type="button" id="btn_no">取消</button>\n' +
								'           </div>'
					});
				});
				$('body').on('click','#btn_yes',function () {
					sendAxios(
							'gateway/deleteGateway',
							new_gateway
					).then(res=>{
						if(res.data.code == 200){
							alert(res.data.msg);
							location.reload();
						}else {
							alert(res.data.msg);
							location.reload();
						}
					}).catch();
				});
				$('body').on('click','#btn_no',function () {
					layer.close(layer.index);
					location.reload();
				});
			}
			//修改网关信息弹出层函数
			function update_lay(new_gateway){
				var tempShopNum = new_gateway.gatewayShopNum;
				new_gateway.gatewayShopNum = null;
				layui.use(['layer','form'],function () {
					layer.open({
						type:1,
						title:"修改信息",
						area:["500px","400px"],
						content:'        <form class="layui-form" style="padding-top:30px;width: 500px;">\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">所属门店</label>\n' +
								'                <div class="layui-input-inline" style="width: 350px;">\n' +
								'                   <select name="gatewayBelong" id="gatewayBelong" lay-filter="shopNum">\n' +
								' 					</select>\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">网关MAC地址</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="gatewayMac" id="gatewayMac" type="text" placeholder="例:112233445566"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <label class="layui-form-label">网关状态</label>\n' +
								'                <div class="layui-input-inline Input" style="width: 350px;">\n' +
								'                    <input name="gatewayType" id="gatewayType" type="text" placeholder="0为未启用 1为启用"  autocomplete="off" class="layui-input">\n' +
								'                </div>\n' +
								'            </div>\n' +
								'            <div class="layui-form-item">\n' +
								'                <div class="layui-input-block">\n' +
								'                    <p>*不做更改项请留空</p>\n' +
								'                    <button lay-submit lay-filter="btn_yes" class="layui-btn layui-btn-sm" type="button" id="btn_yes">立即提交</button>\n' +
								'                    <button class="layui-btn layui-btn-sm" type="button" id="btn_no">取消</button>\n' +
								'                </div>\n' +
								'            </div>\n' +
								'        </form>',
						success:function () {
							sendAxios(
									"admin/getRole",
									user
							).then(res=>{
								if(res.data.code==200){
									var thisRole = res.data.thisRole;
									var shops = res.data.shops;
									$('#gatewayBelong').append(new Option(""));
									if(thisRole == "超级管理员"){
										$.each(shops, function(i,item) {
											$('#gatewayBelong').append(new Option(item.shopName,item.shopNum));
										})
									}else{
										$('#gatewayBelong').append(new Option(shops.shopName,shops.shopNum));
									}
								}else{
									alert(res.data.msg);
									location.reload();
								}
								//重新渲染Select元素
								layui.form.render("select");
							}).catch(res=>{
								alert("函数执行失败！");
								location.reload();
							})
						},
						cancel: function () {
							location.reload();
						}
					});
					$('body').on('click','#btn_no',function () {
						layer.close(layer.index);
						location.reload();
					});

					//加载表单
					layui.use('form', function(){
						var form = layui.form;
						//渲染表单
						layui.form.render();

						//检测下拉选择事件
						//通过lay-filter进行检测，并且获取value

						form.on('select(shopNum)',function(data) {
							if (data.value != tempShopNum)
								new_gateway.gatewayShopNum = data.value;
						});

						form.on('submit(btn_yes)', function (data) {
							if (data.field.gatewayMac == new_gateway.gatewayMac)
								new_gateway.gatewayMac = null;
							else new_gateway.gatewayMac = data.field.gatewayMac;
							if (data.field.gatewayType == new_gateway.gatewayMac)
								new_gateway.gatewayMac = null;
							else new_gateway.gatewayType = data.field.gatewayType;
							new_gateway.userName = user.userName;
							new_gateway.shopName = null;
							sendAxios(
									'gateway/updateGateway',
									new_gateway
							).then(res=>{
								alert(res.data.msg);
								location.reload();
							}).catch(res=>{
								alert("函数执行失败!");
								location.reload();
							});
						});
					});
				});
			}

		</script>
	</body>

</html>
