<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 网站简介 -->
    <meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
    <title>BlueToothPrice V1.0</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
    <script type="text/javascript" src="../../layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
    <script src="../../framework/jquery-ui-1.10.4.min.js"></script>
    <script src="../../framework/jquery.mousewheel.min.js"></script>
    <script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->
    <!--js和vue引入-->
    <script type="text/javascript" src="../../js/jsencrypt.min.js"></script>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="../../js/axios.min.js"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
</head>

<body>
<div id="myVue">
    <div class="cBody">
        <div class="console">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="text" v-model="user.selectName" required lay-verify="required" placeholder="输入用户名称(可选)" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" v-model="user.roleName" required lay-verify="required" placeholder="输入用户角色(可选)" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" v-model="user.shopName" required lay-verify="required" placeholder="输入用户所属门店(可选)" autocomplete="off" class="layui-input">
                    </div>

                    <button type="button" class="layui-btn" @click="query()">检索</button>
                    <button type="button" class="layui-btn" @click="reset()">重置</button>
                </div>
            </form>
        </div>

        <table class="layui-table">
            <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>用户权限</th>
                <th>用户状态</th>
                <th>所属门店</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(i,index) in users">
                <td>{{index+1}}</td>
                <td>{{i.userName}}</td>
                <td>{{i.roleName}}</td>
                <td v-if = "i.userLocked">未锁定</td>
                <td v-else>锁定</td>
                <td>{{i.shopName}}</td>
                <td>
                    <button class="layui-btn layui-btn-xs" type="button" @click="updateUser(i)">修改</button>
                    <button class="layui-btn layui-btn-xs" type="button" @click="deleteUser(i)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center" id="paging"></div>
</div>
<script type="text/javascript">
    //获取登录用户角色
    var user = JSON.parse(sessionStorage.getItem("loginAdmin"));
    //默认页数
    var current_page = 1;
    //默认每页容量
    var limit = 10;

    var ur = new Vue({
        el:"#myVue",
        data:{
            users:[],
            user:{
                userId:"",
                userName:"",
                userPassWord:"",
                roleName:"",
                userLocked:"",
                shopName:"",
                selectName:"",
            },
            thisRole:""
        },
        methods:{
            query:function(){
                user.pageNum = current_page;
                user.pageSize = limit;
                //模糊查询赋值判定
                if(this.user.selectName != null && this.user.selectName!= ""){
                    user.selectName = this.user.selectName;
                }
                if(this.user.roleName != null && this.user.roleName != ""){
                    user.roleName = this.user.roleName;
                }
                if(this.user.shopName != null && this.user.shopName != ""){
                    user.shopName = this.user.shopName;
                }

                sendAxios(
                    "admin/getUserList",
                    user
                ).then(res=>{
                    if(res.data.code==200){
                        //将返回数据绑定到页面元素
                        this.users = res.data.pageInfo.list;
                        //调用分页函数
                        page(res.data.pageInfo.total,current_page,limit);
                    }else{
                        alert(res.data.msg);
                    }
                }).catch(res=>{
                    alert("函数执行失败！");
                });
                //查询完后重置user实体
                user = JSON.parse(sessionStorage.getItem("loginAdmin"));
            },
            //重置查询函数
            reset:function () {
                this.user.selectName = "";
                this.user.roleName = "";
                this.user.shopName = "";
                this.query();
            },
            //获取登录用户角色
            getRole:function () {
                sendAxios(
                    "admin/getRole",
                    user
                ).then(res=>{
                    if(res.data.code = 200){
                        this.thisRole = res.data.thisRole;
                    }else {
                        alert(res.data.msg);
                    }
                }).catch(res=>{
                    alert("函数执行失败！")
                })
            },
            //删除用户
            deleteUser:function (new_user) {
                if(this.thisRole == "店长" && new_user.roleId == 3){
                    this.user = new_user;
                    this.user.selectName = new_user.userName;
                    this.user.userName = user.userName;
                    delete_lay(this.user);
                }else if(this.thisRole == "超级管理员"){
                    this.user = new_user;
                    this.user.selectName = new_user.userName;
                    this.user.userName = user.userName;
                    delete_lay(this.user);
                }else{
                    alert("无操作权限");
                }
                this.reset();
            },
            //修改用户信息
            updateUser:function (new_user) {
                if(this.thisRole == "店长" && new_user.roleId == 3){
                    update_lay(new_user);
                }else if(this.thisRole == "超级管理员"){
                    update_lay(new_user);
                }else{
                    alert("无操作权限");
                }
                this.reset();
            }
        },
        created:function(){
            this.query();
            this.getRole();
        }
    });

    //分页函数
    //参数：查询总条数，当前页数，每页上限
    function page(count,curr,limit) {
        layui.use('laypage',function () {
            var laypage = layui.laypage;
            laypage.render({
                elem:'paging',
                count:count,
                limit:limit,
                curr:curr,
                theme:'#4e66f1',
                jump:function (obj,first) {
                    //第一次不执行防止死循环
                    if(!first){
                        curr = obj.curr;
                        user.pageNum = curr;
                        user.pageSize = limit;
                        sendAxios(
                            "admin/getUserList",
                            user
                        ).then(res=>{
                            if(res.data.code==200){
                                ur.users = res.data.pageInfo.list;
                            }else{
                                alert(res.data.msg);
                            }
                        }).catch(res=>{
                            alert("函数执行失败！")
                        })

                    }
                }
            });
        });
    }
    //删除用户信息弹出层函数
    function delete_lay(new_user) {
        layui.use(['layer'],function () {
            layer.open({
                type:1,
                title:"请确认",
                area:["280px","210px"],
                content:'		<div align="center">\n' +
                    '               <h2 style="padding-top:30px;padding-bottom:30px;">是否确认删除该用户</h2>\n' +
                    ' 			    <button class="layui-btn layui-btn-sm" type="button" id="btn_yes">确认</button>\n' +
                    ' 			    <button class="layui-btn layui-btn-sm" type="button" id="btn_no">取消</button>\n' +
                    '           </div>'

            });
        });
        $('body').on('click','#btn_yes',function () {
            sendAxios(
                'admin/deleteOne',
                new_user
            ).then(res=>{
                if(res.data.code == 200){
                    alert(res.data.msg);
                    location.reload();
                }else {
                    alert(res.data.msg);
                    location.reload();
                }
            }).catch(res=>{
                alert("函数执行失败！")
            });
        });
        $('body').on('click','#btn_no',function () {
            layer.close(layer.index);
        });

    }
    //修改用户信息弹出层函数
    function update_lay(new_user){
        layui.use(['layer','form'],function () {
           layer.open({
               type:1,
               title:"修改信息",
               area:["500px","500px"],
               content:'        <form class="layui-form" style="padding-top:30px;width: 500px;">\n' +
                   '            <div class="layui-form-item">\n' +
                   '                <label class="layui-form-label">用户名</label>\n' +
                   '                <div class="layui-input-inline Input" style="width: 350px;">\n' +
                   '                    <input name="userName" id="userName" type="text" readonly="readonly" placeholder="用户名" autocomplete="name" class="layui-input">\n' +
                   '                </div>\n' +
                   '            </div>\n' +
                   '            <div class="layui-form-item">\n' +
                   '                <label class="layui-form-label">密码</label>\n' +
                   '                <div class="layui-input-inline Input" style="width: 350px;">\n' +
                   '                    <input name="userPassword" id="userPassword" type="password" placeholder="密码"  autocomplete="off" class="layui-input">\n' +
                   '                </div>\n' +
                   '            </div>\n' +
                   '            <div class="layui-form-item">\n' +
                   '                <label class="layui-form-label">是否锁定</label>\n' +
                   '                <div class="layui-input-inline Input" style="width: 350px;">\n' +
                   '                    <input type="radio" name="userLocked" value="1" title="是">\n' +
                   '                    <input type="radio" name="userLocked" value="0" title="否" checked>\n' +
                   '                </div>\n' +
                   '            </div>\n' +
                   '            <div class="layui-form-item">\n' +
                   '                <label class="layui-form-label">所属门店</label>\n' +
                   '                <div class="layui-input-inline Input" style="width: 350px;">\n' +
                   '                    <select name="userBelong" id="userBelong" lay-filter="shopNum">\n' +
                   '                        <option value=""></option>\n' +
                   '                    </select>\n' +
                   '                </div>\n' +
                   '            </div>\n' +
                   '            <div class="layui-form-item">\n' +
                   '                <label class="layui-form-label">权限等级</label>\n' +
                   '                <div class="layui-input-inline Input" style="width: 350px;">\n' +
                   '                    <select name="userLevel" id="userLevel" lay-filter="roleId">\n' +
                   '                        <option value=""></option>\n' +
                   '                    </select>\n' +
                   '                </div>\n' +
                   '            </div>\n' +
                   '            <div class="layui-form-item">\n' +
                   '                <div class="layui-input-block">\n' +
                   '                    <p>*不做更改项请留空</p>\n' +
                   '                    <button lay-submit lay-filter="btn_yes" class="layui-btn layui-btn-sm" type="button" id="btn_yes">立即提交</button>\n' +
                   '                    <button class="layui-btn layui-btn-sm" type="button" id="btn_no">取消</button>\n' +
                   '                </div>\n' +
                   '            </div>\n' +
                   '        </form>'
           });
            $('body').on('click','#btn_no',function () {
                layer.close(layer.index);
            });
            document.getElementById("userName").value=new_user.userName;
            //加载表单
            layui.use('form', function(){
                var form = layui.form;

                //获取下拉菜单
                sendAxios(
                    "admin/getRole",
                    user
                ).then(res=>{
                    if(res.data.code==200){
                        //判断用户身份动态添加选项
                        $('#userLevel').empty();
                        $('#userBelong').empty();
                        $('#userBelong').append(new Option(""));
                        $('#userLevel').append(new Option(""));
                        $('#userLevel').append(new Option("店员","3"));
                        $('#userLevel').append(new Option("店长","2"));
                        var shops = res.data.shops;
                        $.each(shops, function(i,item) {
                            $('#userBelong').append(new Option(item.shopName,item.shopNum));
                        })

                    }else{
                        alert(res.data.msg);
                    }
                    //重新渲染Select元素
                    layui.form.render("select");
                }).catch(res=>{
                    alert("函数执行失败！")
                });
                layui.form.render();

                //检测下拉选择事件
                //通过lay-filter进行检测，并且获取value
                form.on('select(roleId)',function(data) {
                    new_user.roleId = data.value;
                });
                form.on('select(shopNum)',function(data) {
                    new_user.shopNum = data.value;
                });
                form.on('submit(btn_yes)', function (data) {
                    new_user.selectName = data.userName;
                    new_user.userName = user.userName;
                    new_user.userLocked = data.userLocked;
                    var encrypt = new JSEncrypt();
                    encrypt.setPublicKey("MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCaVvWsXQoGZCfZk1snIWivx0JGE3UQCzQfT7OJ" +
                        "APDqBEKyslrM8ri4dlR9sVdcH1nzWR3XTk1reA0ATG4WUI+R1RaLp6+m6TNFxRPSibarFAZGryAQal4JEEN4q5G0KxwWvasF82G6epZTz7X" +
                        "SPIqHywFTrR3RuEb0SGDbSurqkQIDAQAB");
                    new_user.userPassWord = encrypt.encrypt(data.userPassWord);
                    sendAxios(
                        'admin/updateOne',
                        new_user
                    ).then(res=>{
                        if(res.data.code == 200){
                            alert(res.data.msg);
                        }else {alert(res.data.msg);}
                    }).catch(res=>{
                        alert("函数执行失败！")
                    });
                });
            });
        });




    }



</script>
</body>

</html>
