<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 网站简介 -->
    <title>Bluetooth V1.0</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="../../css/base.css">
    <link rel="stylesheet" type="text/css" href="../../css/iconfont.css">
    <script type="text/javascript" src="../../framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../layui/css/layui.css">
    <script type="text/javascript" src="../../layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="../../css/jquery.mCustomScrollbar.css">
    <script src="../../framework/jquery-ui-1.10.4.min.js"></script>
    <script src="../../framework/jquery.mousewheel.min.js"></script>
    <script src="../../framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->
    <!--js和vue引入-->
    <script type="text/javascript" src="../../js/jsencrypt.min.js"></script>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="../../js/axios.min.js"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
    <style>
        .layui-form{
            margin-right: 30%;
        }
    </style>

</head>

<body>
<div id="myVue">
    <div class="cBody" style="width: 500px;height: 800px">
        <form id="addForm" class="layui-form" style="width: 500px;">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline Input" style="width: 350px;">
                    <input type="text" v-model="user.userName" required lay-verify="required|identity" placeholder="用户名" autocomplete="name" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline Input" style="width: 350px;">
                    <input type="password" v-model="user.userPassword" required lay-verify="required|identity" placeholder="密码"  autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限等级</label>
                <div class="layui-input-inline Input" style="width: 350px;">
                    <select name="userLevel" id="userLevel" lay-filter="roleId" required lay-verify="required|identity">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">所属门店</label>
                <div class="layui-input-inline Input" style="width: 350px;">
                    <select name="userBelong" id="userBelong" lay-filter="shopNum" required lay-verify="required|identity">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">是否开通</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="nan" title="启用" checked>
                    <input type="radio" name="sex" value="nv" title="禁用">
                </div>
            </div>-->

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" @click="submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>



    </div>
</div>
<script type="text/javascript">
    var eu = new Vue({
        el:"#myVue",
        data:{
            //用于发送的实体类
            user:{
                userName:"",
                userPassword:"",
                roleId:"",
                shopNum:""
            }
        },
        methods:{
            submit:function(){
                //密码加密
                var encrypt = new JSEncrypt();
                encrypt.setPublicKey("MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCaVvWsXQoGZCfZk1snIWivx0JGE3UQCzQfT7OJ" +
                    "APDqBEKyslrM8ri4dlR9sVdcH1nzWR3XTk1reA0ATG4WUI+R1RaLp6+m6TNFxRPSibarFAZGryAQal4JEEN4q5G0KxwWvasF82G6epZTz7X" +
                    "SPIqHywFTrR3RuEb0SGDbSurqkQIDAQAB");
                this.user.userPassword = encrypt.encrypt(this.user.userPassword);
                //发送请求
                sendAxios(
                    "admin/addUserInfo",
                    this.user
                ).then(res=>{
                    if(res.data.code==200){
                        alert(res.data.msg);
                    }else{
                        alert(res.data.msg);
                    }
                    location.reload();
                }).catch(res=>{
                    alert("函数执行失败！")
                })
            }
        },
    });

    //加载layui_form
    layui.use('form', function(){
        var form = layui.form;
        //检测下拉选择事件
        //通过lay-filter进行检测，并且获取value
        form.on('select(roleId)',function(data) {
            eu.user.roleId = data.value;
        });
        form.on('select(shopNum)',function(data) {
            eu.user.shopNum = data.value;
        });
    });

    //随着页面加载启动，生成下拉选择框
    layui.use(['form','upload','layer'],function () {
        var form = layui.form;
        var user = JSON.parse(sessionStorage.getItem("loginAdmin"));
        sendAxios(
            "admin/getRole",
            user
        ).then(res=>{
            if(res.data.code==200){
                //判断用户身份动态添加选项
                $("#userLevel").empty();
                $("#userBelong").empty();
                $("#userBelong").append(new Option(""));
                $("#userLevel").append(new Option(""));
                $('#userLevel').append(new Option("店员","3"));

                //取得响应数据中的商店列表与当前用户角色
                var shops = res.data.shops;
                var thisRole = res.data.thisRole;

                //生成下拉栏选项
                if(thisRole == "超级管理员"){
                    $('#userLevel').append(new Option("店长","2"));
                    $.each(shops, function(i,item) {
                        $('#userBelong').append(new Option(item.shopName,item.shopNum));
                    })
                }else{
                    $('#userBelong').append(new Option(shops.shopName,shops.shopNum));
                }
            }else{
                alert(res.data.msg);
            }
            //重新渲染Select元素
            layui.form.render("select");
        }).catch(res=>{
            alert("函数执行失败！")
        })

    })
</script>
</body>

</html>
