<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
    <meta name="renderer" content="webkit">
    <!--国产浏览器高速模式-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 网站简介 -->
    <meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
    <title>BlueToothPrice V1.0</title>

    <!-- 公共样式 开始 -->
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/iconfont.css">
    <script type="text/javascript" src="/static/framework/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <!-- 滚动条插件 -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.mCustomScrollbar.css">
    <script src="/static/framework/jquery-ui-1.10.4.min.js"></script>
    <script src="/static/framework/jquery.mousewheel.min.js"></script>
    <script src="/static/framework/jquery.mCustomScrollbar.min.js"></script>
    <script src="/static/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
    <!-- 公共样式 结束 -->
    <!--js和vue引入-->
    <script type="text/javascript" src="../../js/jsencrypt.min.js"></script>
    <script type="text/javascript" src="../../js/vue.js"></script>
    <script type="text/javascript" src="../../js/axios.min.js"></script>
    <script type="text/javascript" src="../../js/util.js"></script>
</head>

<body>
<div id="myVue">
    <div class="cBody">
        <div class="console">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="text" v-model="user.selectName" required lay-verify="required" placeholder="输入用户名称(可选)" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" v-model="user.roleName" required lay-verify="required" placeholder="输入用户角色(可选)" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="text" v-model="user.shopName" required lay-verify="required" placeholder="输入用户所属门店(可选)" autocomplete="off" class="layui-input">
                    </div>

                    <button type="button" class="layui-btn" @click="query()">检索</button>
                    <button type="button" class="layui-btn" @click="reset()">重置</button>
                </div>
            </form>
        </div>

        <table class="layui-table">
            <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>用户权限</th>
                <th>用户状态</th>
                <th>所属门店</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(i,index) in users">
                <td>{{index+1}}</td>
                <td>{{i.userName}}</td>
                <td>{{i.roleName}}</td>
                <td v-if = "i.userLocked">未锁定</td>
                <td v-else>锁定</td>
                <td>{{i.shopName}}</td>
                <td>
                    <button class="layui-btn layui-btn-xs">修改</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center" id="paging"></div>
</div>
<script type="text/javascript">
    var user = JSON.parse(sessionStorage.getItem("loginAdmin"));
    var current_page = 1;
    var limit = 10;
    var ur = new Vue({
        el:"#myVue",
        data:{
            users:[],
            user:{
                userId:"",
                userName:"",
                roleName:"",
                userLocked:"",
                shopName:"",
                selectName:"",
            }
        },
        methods:{
            query:function(){
                user.pageNum = current_page;
                user.pageSize = limit;
                if(this.user.selectName != null && this.user.selectName!= ""){
                    user.selectName = this.user.selectName;
                }
                if(this.user.roleName != null && this.user.roleName != ""){
                    user.roleName = this.user.roleName;
                }
                if(this.user.shopName != null && this.user.shopName != ""){
                    user.shopName = this.user.shopName;
                }
                sendAxios(
                    "admin/getUserList",
                    user
                ).then(res=>{
                    if(res.data.code==200){
                        console.log(res.data);
                        this.users = res.data.pageInfo.list;
                        console.log(res.data.pageInfo.total);
                        page(res.data.pageInfo.total,current_page,limit);
                    }else{
                        alert(res.data.msg);
                    }
                }).catch(res=>{
                    alert("函数执行失败！");
                });
                user = JSON.parse(sessionStorage.getItem("loginAdmin"));
            },
            reset:function () {
                this.user.selectName = "";
                this.user.roleName = "";
                this.user.shopName = "";
                this.query();
            }
        },
        created:function(){
            this.query();
        }
    });

    function page(count,curr,limit) {
        layui.use('laypage',function () {
            var laypage = layui.laypage;
            laypage.render({
                elem:'paging',
                count:count,
                limit:limit,
                curr:curr,
                theme:'#4e66f1',
                jump:function (obj,first) {
                    if(!first){
                        curr = obj.curr;
                        user.pageNum = curr;
                        user.pageSize = limit;
                        console.log(user);
                        sendAxios(
                            "admin/getUserList",
                            user
                        ).then(res=>{
                            if(res.data.code==200){
                                console.log(res.data);
                                ur.users = res.data.pageInfo.list;
                            }else{
                                alert(res.data.msg);
                            }
                        }).catch(res=>{
                            alert("函数执行失败！")
                        })

                    }
                }
            });
        });
    }
</script>
</body>

</html>
